html {
  font-family: Sans-Serif;
  padding: 0px;
  background: lightgray;
}

body, div, ul, li, header, ol, section, article, nav {
  margin: 0;
  padding: 0;
  list-style: none;
  
}

header {
  background: red;
  color: white;
/*  padding: 0px 10%;*/
  border-bottom: solid black;
}

.header > * {
  display: inline-block;
  height: 30px;
}

.header {
  width: 80%;
  margin: 0 auto;
  border-left: solid black;
  border-right: solid black;
}

.header-title {
  font-weight: bold;
  padding: 10px 0 0 20px;
/*  border-left: solid black;*/
}

.header-navbar {
  float:right;
}

.header-navbar > * {
  display: inline-block;
}

.navbar-item {
  padding: 10px 20px 0px 20px;
  border-left: solid black;
  display: inline-block;
  height: 30px;
}

.dropdown {
  background: white;
  position: relative;
}

.dropdown #notification-count {
  /* by id */
  display: inline-block;
  background: black;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.dropdown:hover #notification-count {
  background: red;
}

.dropdown .submenu {
  /* by class */ 
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 150px;
  background: white;
  color: black;
}

.dropdown:hover .submenu {
  display: block;
}


.sub-item {
  /* by class */ 
  height: 32px;
  border: solid black;
}

.sub-item:hover {
  background: gray;
}

.main {
  width: 80%;
  margin: 0 auto;
  background: white;
  padding: 20px 0;
  border-left: solid gray;
  border-right: solid gray;
}

.sidebar {
  display:inline-block;
  width: 20%;
  padding: 0 20px;
  border-right: solid lightgrey;
}

h1 {
  font-size: 175%;
}

.sidebar-body {
  
}

.content {
  vertical-align:top;
  display: inline-block;
  width: 55%;
  padding: 0 30px;
}

.content-body {
  
}

footer {
  background: lightgray;
  color: darkgray;
  width: 80%;
  margin: 0 auto 100px auto;
  border: solid gray;
  height: 60px;
  padding: 0px;
}

.copyright {
  display: inline-block;
  margin: 0px;
  padding: 20px 20px;
}

.footer-links {
  display: inline-block;
  float: right;
}

.footer-link-item {
  display: inline-block;
  margin: 0px;
  padding: 20px 10px;
}

.footer-link-item:last-child {
  padding-right: 20px;
}