html {
  font-family: Sans-Serif;
  padding: 0px;
  background: lightgray;
}

body {
  padding: 0px;
  margin: 0 auto;
  
}

header {
  background: red;
  color: white;
/*  padding: 0px 10%;*/
  border-bottom: solid black;
}

.header > * {
  display: inline-block;
  height: 30px;
}

.header {
  width: 80%;
  margin: 0 auto;
  border-left: solid black;
  border-right: solid black;
}

.header-title {
  font-weight: bold;
  margin: 0px;
  padding: 10px 0 0 20px;
/*  border-left: solid black;*/
}

.header-navbar {
  float:right;
  margin: 0px;
  padding: 0px;
}

.header-navbar > * {
  display: inline-block;
  margin: 0px;
}

.navbar-item {
  margin: 0px;
  padding: 10px 20px 0px 20px;
  border-left: solid black;
  display: inline-block;
  height: 30px;
}

#notifications:hover {
  background: black;
}

#notifications:hover #notification-count {
  background: red;
}

#notifications:hover .notifications {
  display: block;
}


#notification-count {
  /* by id */
  display: inline-block;
  background: black;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.notifications {
  /* by class */ 
  display: none;
  position:absolute;
  background: white;
/*  width: 300px;*/
  color: black;
/*  border: solid black;*/
  padding: 0px;
  margin-left: -23px;
  margin-top: 10px;
  z-index: 5;
}

.notification-item {
  /* by class */ 
  display: block;
  height: 32px;
  border: solid black;
  padding: 0px;
  margin: 0px
}

.notification-item:hover {
  background: gray;
}

main {
  width: 80%;
  margin: 0 auto;
  background: white;
  padding: 20px 0;
  border-left: solid gray;
  border-right: solid gray;
}

.sidebar {
  display:inline-block;
  width: 20%;
  padding: 0 20px;
  border-right: solid lightgrey;
}

h1 {
  font-size: 175%;
}

.sidebar-body {
  
}

.content {
  display: inline-block;
  width: 55%;
  margin-bottom: auto;
  margin-top: 0;
  height: auto;
  position: absolute;
  padding: 0 30px;
}

.content-body {
  
}

footer {
  background: lightgray;
  color: darkgray;
  width: 80%;
  margin: 0 auto 100px auto;
  border: solid gray;
  height: 60px;
  padding: 0px;
}

.copyright {
  display: inline-block;
  margin: 0px;
  padding: 20px 20px;
}

.footer-links {
  display: inline-block;
  float: right;
}

.footer-link-item {
  display: inline-block;
  margin: 0px;
  padding: 20px 10px;
}

.footer-link-item:last-child {
  padding-right: 20px;
}